<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secur-e-Share</title>
</head>

<body>

    <header>
        <a href="messages">
            messages
        </a>
    </header>


    <form action="{{ url_for("insert") }}" method="post">
        <div>
            <input type="file" name="text_f" required>
        </div>

        <a href="/insert">
            <input type="submit"value="post">
        </a>
    </form>

    <form action="{{ url_for("download") }}" method="post">
        <div>
            <label for="download">Download:</label><br>
            <input type="text" name="file" id="download" required />
        </div>
        <a href="/download">
            <input type="submit" value="download">
        </a>    
    </form>

    <a href="/My-files">
        <input type="button" value="My Files ->">
    </a>

</body>
</html>